<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OrderInfo">

	<resultMap id="resultOrderInfo" type="OrderInfo">
		<id property="orderinfo_code" column="ORDERINFO_CODE" />
  		<result property="member_id" column="MEMBER_ID"/>
  		<result property="product_code" column="PRODUCT_CODE"/>
  		<result property="orderinfo_date" column="ORDERINFO_DATE"/>
  		<result property="order_receiver_name" column="ORDER_RECEIVER_NAME"/>
  		<result property="order_receiver_address" column="ORDER_RECEIVER_ADDRESS"/>
  		<result property="order_receiver_phone" column="ORDER_RECEIVER_PHONE"/>
  		<result property="order_size" column="ORDER_SIZE"/>
  		<result property="order_invoice_number" column="ORDER_INVOICE_NUMBER"/>

  		<association property="productJoin"  javaType="Product">
  			<id property="product_code" column="PRODUCT_CODE" />
	  		<result property="product_name" column="PRODUCT_NAME"/>
	  		<result property="product_category" column="PRODUCT_CATEGORY"/>
	  		<result property="product_brand" column="PRODUCT_BRAND"/>
	  		<result property="product_descript" column="PRODUCT_DESCRIPT"/>
	  		<result property="product_original_price" column="PRODUCT_ORIGINAL_PRICE"/>
	  		<result property="rent_price" column="RENT_PRICE"/>
	  		<result property="product_size33" column="PRODUCT_SIZE33"/>
	  		<result property="product_size44" column="PRODUCT_SIZE44"/>
	  		<result property="product_size55" column="PRODUCT_SIZE55"/>
	  		<result property="product_size66" column="PRODUCT_SIZE66"/>
	  		<result property="product_size77" column="PRODUCT_SIZE77"/>
	  		<result property="product_color" column="PRODUCT_COLOR"/>
	  		<result property="receive_date" column="RECEIVE_DATE"/>
	  		<result property="product_hit" column="PRODUCT_HIT"/>
	  		<result property="product_delete" column="PRODUCT_DELETE"/>
  		</association>
	</resultMap>

	<insert id="orderInfoInsert" parameterType="OrderInfo"> 
		INSERT INTO ORDERINFO VALUES(
			(SELECT NVL(MAX(ORDERINFO_CODE),0) FROM ORDERINFO)+1, 
			#{ member_id }, 
			#{ product_code },
			SYSDATE, 
			#{ order_receiver_name }, 
			#{ order_receiver_address }, 
			#{ order_receiver_phone },
			#{ order_size },
			#{ order_invoice_number })
	</insert>
	
	<select id="myOrder" parameterType="hashmap" resultType="OrderInfo" resultMap="resultOrderInfo">
		SELECT *
		FROM (SELECT ROWNUM RNUM, A.*
			  FROM (SELECT *
					FROM ORDERINFO 
		            JOIN PRODUCT USING (PRODUCT_CODE)
					WHERE MEMBER_ID = #{member_id} 
					AND ORDERINFO_DATE BETWEEN 
					<if test="orderDay == -1">
						(SELECT REGIST_DATE FROM MEMBER WHERE MEMBER_ID = #{member_id})
					</if>
					<if test="orderDay != -1">
						SYSDATE - #{orderDay}
					</if>
					AND SYSDATE
					<if test="orderKeyword != null">
						AND PRODUCT_NAME LIKE '%'||#{orderKeyword}||'%'
					</if>
			  ORDER BY ORDERINFO_DATE DESC) A)
		WHERE RNUM BETWEEN #{startRow} AND #{endRow}
	</select>
	
	<select id="myOrderCount" parameterType="hashmap" resultType="_int">
		SELECT COUNT(*)
		FROM ORDERINFO
		JOIN PRODUCT USING (PRODUCT_CODE)
		WHERE MEMBER_ID = #{member_id}
		AND ORDERINFO_DATE BETWEEN 
		<if test="orderDay == -1">
			(SELECT REGIST_DATE FROM MEMBER WHERE MEMBER_ID = #{member_id})
		</if>
		<if test="orderDay != -1">
			SYSDATE - #{orderDay}
		</if>
		AND SYSDATE
		<if test="orderKeyword != null">
			AND PRODUCT_NAME LIKE '%'||#{orderKeyword}||'%'
		</if>
	</select>
	
</mapper>
