<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Qna">

	<resultMap id="resultQna" type="Qna">
	
	</resultMap>
	
	<select id="countRow" resultType="_int">
		select count(*)	from qna
	</select>
	
	<select id="selectList" parameterType="_int" resultType="Qna" resultMap="resultQna">
	select * from
(select rownum rnum, qna_no, member_id, 
 qna_title, qna_category, 
 qna_comment,
 qna_date, img_path from (select * from qna order by qna_no desc) 
 where rownum&lt;=${endRow})
 where rnum&gt;=${startRow}
	</select>
	
	<select id="selectOne" parameterType="_int" resultType="Qna" resultMap="resultQna">
		select * from qna where qna_no=#{qna_no}
	</select>

	<update id="addComment" parameterType="Qna">
		update qna set qna_comment=#{qna_comment}
		 where qna_no=#{qna_no}
	</update>
	
	<insert id="writeQna" parameterType="Qna">
	 insert into qna values
	 ((select max(qna_no) from qna)+1, #{member_id}, #{qna_title}, #{qna_content}, #{qna_category}, null, sysdate, #{img_path})
	</insert>

	
	<update id="updateQna" parameterType="Qna">
	update qna
	set 
	<if test="img_path!=null">
	 img_path=#{img_path},
	 </if>
	 qna_title=#{qna_title},
 	 qna_content=#{qna_content},
 	 qna_category=#{qna_category}
	 where qna_no=#{qna_no}
	</update>
	
	<delete id="deleteQna" parameterType="_int">
	delete from qna
	where qna_no=#{qna_no}
	</delete>
</mapper>
