<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC
"-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<settings>
			<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
		<typeAliases>
			<typeAlias type="com.kh.minimalist.member.model.vo.Member" alias="Member" />
			<typeAlias type="com.kh.minimalist.product.model.vo.Product" alias="Product" />
			<typeAlias type="com.kh.minimalist.product.model.vo.ProductImage" alias="ProductImage" />
			<typeAlias type="com.kh.minimalist.wish.model.vo.Wish" alias="Wish" />
			<typeAlias type="com.kh.minimalist.orderinfo.model.vo.OrderInfo" alias="OrderInfo" />
			<typeAlias type="com.kh.minimalist.auction.model.vo.Auction" alias="Auction" />
			<typeAlias type="com.kh.minimalist.auction.model.vo.BidInfo" alias="BidInfo" /> 
			<typeAlias type="com.kh.minimalist.notice.model.vo.Notice" alias="Notice" />
			<typeAlias type="com.kh.minimalist.qna.model.vo.Qna" alias="Qna" />
			<typeAlias type="com.kh.minimalist.message.model.vo.Message" alias="Message" />
			<typeAlias type="com.kh.minimalist.income.model.vo.Income" alias="Income" />
				<typeAlias type="com.kh.minimalist.review.model.vo.Review" alias="Review" />
		</typeAliases>
	
<!-- 	<environments default="development">
			<environment id="development">
				<transactionManager type="JDBC" />
				<dataSource type="POOLED">
					<property name="driver" value="oracle.jdbc.driver.OracleDriver" />
					<property name="url" value="jdbc:oracle:thin:@127.0.0.1:1521:xe" />
					<property name="username" value="minimalist" />
					<property name="password" value="minimalist" />
				</dataSource>
			</environment>
	</environments> -->
	
	<mappers>
		<mapper resource="mappers/member-mapper.xml" />
		<mapper resource="mappers/product-mapper.xml" />
		<mapper resource="mappers/wish-mapper.xml" />
		<mapper resource="mappers/orderinfo-mapper.xml" />
		<mapper resource="mappers/auction-mapper.xml" />
		<mapper resource="mappers/notice-mapper.xml" />
	    <mapper resource="mappers/qna-mapper.xml" />
	    <mapper resource="mappers/message-mapper.xml" />
	    <mapper resource="mappers/income-mapper.xml" />
	    <mapper resource="mappers/review-mapper.xml" />
	</mappers>
</configuration>
